.transactionHistory {
  background-color: cadetblue;
  padding: 30px;
  border-radius: 35px;
}

.transactionHistory thead {
}

.transactionHistory th {
  padding: 15px;
  background-color: darkgreen;
}

.transactionHistory tbody {
  background-color: azure;
}
